body {
    background-color: #D8D8D8;
}

.lyricstbl {
    margin-bottom: 20px;
}

td {
    padding: 0px;
}

input{
    text-align: center;
}

.leftAlign {
    text-align: left;
}

.centerAlign {
    text-align: center;
}

.righttAlign {
    text-align: right;
}

